.info {
    font-weight: normal;
}

h3 {
    text-align: center;
    font-style: italic;
    font-size: 27px;
    font-weight: bold;
}

.accordion-items {
    display: grid;
    margin-left: 30px;
    border-top: 1px solid #ccc;
}

.accordion-header {
    margin-bottom: 0;
    font-style: italic;
    font-size: 30px;
    padding: 10px;
    margin-top : 20px;
    width: 700px;
    max-width: 900px;
    min-width: 450px;
    background-color: #ffca40;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: bold;
    outline: none;
    border: none;
}

.accrdion-text {
    display: none;
    width: 700px;
    max-width: 900px;
    min-width: 450px;
}

.accrdion-text p {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    font-size: 18px;
    font-weight: normal;
    font-family: sans-serif;
    padding: 10px;
    background-color: #fff;
}